@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader.css */

.activated {
  background-color: #417ee6;
  color: #f0f4f2;
}

input {
  border: 1px solid black;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

button {
  padding: 0.5rem 0.75rem;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: transparent;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #3498db;
  color: #ffffff;
}

button:active {
  background-color: #1abc9c;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loader {
  width: 50px;
  height: 50px;
  animation: rotate 2s linear infinite;
}

.loader-circle {
  fill: none;
  stroke: #3498db; /* Blue color */
  stroke-width: 5;
  stroke-dasharray: 283; /* Circumference of a circle: 2 * π * radius */
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 283;
  }
  50% {
    stroke-dashoffset: 70; /* A bit more than half the circumference to create the illusion of a growing circle */
  }
  100% {
    stroke-dashoffset: 283;
  }
}
