fastapi
pydantic
uvicorn
debugpy
sqlalchemy
mysql-connector-python
httpx
python-multipart
python-dotenv
llama-index
pypdf
torch
transformers
sentencepiece
pycryptodome
docx2txt
openai
metaphor_python
